#maincontent {
  div.dataTables_wrapper {
    margin: 10px 0;

    div.table-responsive {
      margin-bottom: 10px;
    }

    ul.pagination {
      padding: 0;
    }

    table {
      tr {
        td.stageCol, th.stageCol {
          width: 45px;
        }

        td {
          &.stageCol {
            text-align: center;
          }

          .btn {
            margin-bottom: -6px;
            margin-top: -6px;
          }
        }
      }
    }
  }
  form {
    .panel-body {
      .dataTables_wrapper {
        margin: 0;
      }
    }
  }
}
