//The main scss file for dts-app-dashboard.

//IMPORTANT:
// Any resources from this project should be referenced using SRC_PATH preprocessor var
// Ex: background-image: url(/* @echo SRC_PATH*//img/sample.jpg)

@import '../scripts/lib/comp/loginbutton.scss';

@import '../scripts/comp/appspage.scss';
@import '../scripts/comp/loginpage.scss';

.securesite {
  position: relative;

  .loginButtonView {
    @extend %LoginButtonView;

    position: absolute;
    right: 65px;
    top: 8px;
  }
}

#dts-app-dashboard_container {
  .appsPageView {
    @extend %AppsPageView;
  }

  .loginPageView {
    @extend %LoginPageView;
  }
}
