@import '../lib/comp/datatable.scss';

%AppsPageView {
  button {
    margin: 0;
  }

  .datatableView {
    @extend %DatatableView;

    td.highlighted {
      background-color: #1dd1a1;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }

    .dt-buttons {
      display: none;
    }
  }

  & > .row > div {
    margin-bottom: 10px;
  }

  .btn-group-action {
    display: inline-block;
  }
}
